nav {
  font-family: $sans;
  width: 8rem;

  a {
    border-radius: .5rem;
    display: block;
    margin: .75rem;
    padding: .75rem 0;
    text-align: center;
    text-decoration: none;
  }

  [aria-current]:not([aria-current="false"]) {
    background: $burrito-blue;
    color: $white;
    font-weight: bold;
  }
}
