// fonts
$sans: 'Gotham SSm A', 'Gotham SSm B';
$serif: 'Sentinel SSm A', 'Sentinel SSm B', serif;

// colors
$black: #000;
$burrito-blue: #66a3c3;
$dark-grey: #555;
$grey-black: #333;
$grey: #777;
$white: #fff;
