%p Big Burrito was founded with the intent of creating a welcoming group for people from all walks of life, regardless of gender, ethnicity, orientation, or experience. We're all here to have fun with and help out other people, and we hope you'll join us!

%p We are a small group of adults based out of various partos North America, and we can get a little rowdy sometimes. We don't have any weekly or statically organized events yet, and we're still a small group, but we have varying and flexible schedules so you're like to see someone on who can help you with dungeoun runs, quests, crafting, or whatever else you may like help with.

%p We're recruiting! If you can't find one of us "Idylling" around (get it? Idleing in Idyllshire? 😭) then send me an email at <span class="email">rjfranco - at - gmail punto com (remove the hyphens and space, and replace punto with a dot)</span> and we'll setup a good meeting time and place.
